spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/controlM
    username: postgres
    password: kingring1
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html

app:
  base-url: http://localhost:8080
  qr-code:
    directory: ./qr-codes

server:
  port: 8080

logging:
  level:
    org.springframework.security: DEBUG
    com.qrdb: DEBUG